@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}

.header {
  background-color: #c9d7e4;
  font-size: 25px;
  color:black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 0;

}

.logo {
  display: flex;
}

.logo img {
  max-width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.headerInfo h2, .headerInfo p {
  top: 10px;
  left: 10px;
  margin: 0px;
  color: black;
}

.headerInfo h2{
  margin-top: 35px;
  font-size:50px;
}      

.headerInfo p {
  font-family: 'Brush Script MT', cursive;
}
.headerInfo {
  margin-left: 5px;
}

.topnav {
  overflow: hidden;
  background-color:#425e80;
  display: flex;
}

.topnav a {
  right: 0;
  margin: auto;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
}

.homepage {
  padding-top: 10px;
  padding-bottom: 25px;
  gap: 3px;
  justify-content: center;
  background-color: rgb(210, 230, 236);
}

.homepage h1{
  font-weight:bold;
  margin:0;
  color:black;
  padding-top: 30px;
  padding-left: 102px;
  padding-bottom: 5px;
}

